body{
    padding: 0;
    margin: 0;
    background-color: rgb(21,51,241);
    background: linear-gradient(90deg, rgba(21,51,241,1) 30%, rgba(116,113,179,0.896796218487395) 79%);
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}

.content{
    background-color: white;
    width: 92vw;
    height: 70vh;    
    text-align: center;
    margin-top: 100px;
    /*box-sizing: content-box;*/
    border-radius: 2em;
    box-shadow:10px 10px 47px -8px indigo;
    
}

h1{
    font-size: 5em;
    color: rgb(13, 13, 44);
    margin-top: 15%;
}

button{
    padding: 2% 6%;
    border-radius: 2em;
    background-color: blue;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    border: 2.5px solid grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10%;    
}

button:hover{
    transition: .4s;
    color: rgb(233, 173, 203);
}

h3{
    /*line-height: 50px;*/
    font-size: 1.2em;
}

p{
    /*line-height: 1.5em;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    padding: 4%;

}

/* small screen*/
@media (min-width: 414px){
    h1{
        font-size: 7em;
        margin-top: 0;
    }

    .content{
        width: 88vw;
       height: 75vh;   
    }

    h3{
        font-size: 1.6em;
    }

    p{
        /*line-height: 1.5em;*/
        font-size: 1.3em;
        padding: 8%;
    
    }

    button{
        padding: 3% 9%;
        font-size: 1.2em;
        margin-bottom: 10%;    
    }

}

/*Large screen*/
@media (min-width: 700px){
    h1{
        font-size: 9em;
        margin-top: 18%;
    }

    .content{
        width: 80vw;
       height: 80vh;    
    }

    h3{
        font-size: 1.9em;
    }

    p{
        /*line-height: 1.5em;*/
        font-size: 1.5em;
        padding: 0 14%;
    
    }

    button{
        padding: 3% 10%;
        font-size: 1.3em;
        margin-top: 4%;
           
    }

}

/* X Large screen*/
@media (min-width: 1024px){
    h1{
        font-size: 10em;
        margin-bottom: 5%;
        margin-top: 35%;
    }

    .content{
        width: 70vw;
        height: 85vh;
    }

    h3{
        font-size: 2.1em;
    }

    p{
        /*line-height: 1.5em;*/
        font-size: 1.7em;
        padding: 0 21%;
    
    }

    button{
        padding: 3% 10%;
        font-size: 1.5em;
        margin-top: 7%;
           
    }

}

/* XX Large screen*/
@media (min-width: 1025px){
    h1{
        font-size: 10em;
        margin-bottom: 5%;
        margin-top: 4%;
    }

    .content{
        width: 65vw;
        height: 75vh;    
    }

    p{
        /*line-height: 1.5em;*/
        font-size: 1.7em;
        padding: 0 5%;
    
    }

    button{
        padding: 2% 6%;
        font-size: 1.5em;
        margin-top: 7%;
           
    }

}
